1. Data Exploration
--------------------------

Read each dataset: load the raw CSVs for Coursera and edX, examine columns, data types, missing values; decide which fields matter and define new unified schema. Coursera catalogue dataset contains extended information with missing values, such as course_url (403 non-null object), course_students_enrolled  (387 non-null object ) and course_description (402 non-null objects ) with tolal number of objects 623.

In [ ]:

import os
import pandas as pd

# List files in data/raw
raw_dir = "../data/raw"
files = [f for f in os.listdir(raw_dir) if f.endswith(".csv")]
print("Raw CSV files:", files)
# Load each CSV into a dict
dataframes = {}
for fname in files:
    path = os.path.join(raw_dir, fname)
    try:
        df = pd.read_csv(path)
        dataframes[fname] = df
        print(f"\nLoaded {fname}: shape={df.shape}")
        display(df.head())
        print(df.info())
    except Exception as e:
        print(f"Failed to load {fname}: {e}")

# Inspect columns, missing values
for name, df in dataframes.items():
    print(f"\n{name}:")
    print(df.columns.tolist())
    print("Missing values per column:")
    print(df.isnull().sum())

Raw CSV files: ['coursera_course_dataset_v3.csv', 'EdX.csv']

Loaded coursera_course_dataset_v3.csv: shape=(623, 12)

,Unnamed: 0,Title,Organization,Skills,Ratings,course_url,course_students_enrolled,course_description,Review Count,Difficulty,Type,Duration
0,0,Google Cybersecurity,Google,"Network Security, Python Programming, Linux, ...",4.8,https://www.coursera.org/professional-certific...,"700,909",Google Cloud Fundamentals: Core Infrastructure...,20K,Beginner,Professional Certificate,3 - 6 Months
1,1,Google Data Analytics,Google,"Data Analysis, R Programming, SQL, Business C...",4.8,https://www.coursera.org/professional-certific...,"229,865",Prepare for a new career in the high-growth fi...,137K,Beginner,Professional Certificate,3 - 6 Months
2,3,Google Project Management:,Google,"Project Management, Strategy and Operations, ...",4.8,https://www.coursera.org/professional-certific...,"29,702",Prepare-se para uma nova carreira no campo de ...,100K,Beginner,Professional Certificate,3 - 6 Months
3,4,IBM Data Science,IBM,"Python Programming, Data Science, Machine Lea...",4.6,https://www.coursera.org/professional-certific...,"239,622",Prepare for a career in the high-growth field ...,120K,Beginner,Professional Certificate,3 - 6 Months
4,5,Google Digital Marketing & E-commerce,Google,"Digital Marketing, Marketing, Marketing Manag...",4.8,https://www.coursera.org/professional-certific...,"384,238",This course is the eighth course in the Google...,23K,Beginner,Professional Certificate,3 - 6 Months

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                623 non-null    int64
 1   Title                     623 non-null    object
 2   Organization              623 non-null    object
 3   Skills                    623 non-null    object
 4   Ratings                   623 non-null    float64
 5   course_url                403 non-null    object
 6   course_students_enrolled  387 non-null    object
 7   course_description        402 non-null    object
 8   Review Count              623 non-null    object
 9   Difficulty                623 non-null    object
 10  Type                      623 non-null    object
 11  Duration                  623 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 58.5+ KB
None

Loaded EdX.csv: shape=(720, 6)

,Name,University,Difficulty Level,Link,About,Course Description
0,How to Learn Online,edX,Beginner,https://www.edx.org/course/how-to-learn-online,Learn essential strategies for successful onli...,"Designed for those who are new to elearning, t..."
1,Programming for Everybody (Getting Started wit...,The University of Michigan,Beginner,https://www.edx.org/course/programming-for-eve...,"This course is a ""no prerequisite"" introductio...",This course aims to teach everyone the basics ...
2,CS50's Introduction to Computer Science,Harvard University,Beginner,https://www.edx.org/course/cs50s-introduction-...,An introduction to the intellectual enterprise...,"This is CS50x , Harvard University's introduct..."
3,The Analytics Edge,Massachusetts Institute of Technology,Intermediate,https://www.edx.org/course/the-analytics-edge,"Through inspiring examples and stories, discov...","In the last decade, the amount of data availab..."
4,Marketing Analytics: Marketing Measurement Str...,"University of California, Berkeley",Beginner,https://www.edx.org/course/marketing-analytics...,This course is part of a MicroMasters® Program,Begin your journey in a new career in marketin...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                720 non-null    object
 1   University          720 non-null    object
 2   Difficulty Level    720 non-null    object
 3   Link                720 non-null    object
 4   About               720 non-null    object
 5   Course Description  720 non-null    object
dtypes: object(6)
memory usage: 33.9+ KB
None

coursera_course_dataset_v3.csv:
['Unnamed: 0', 'Title', 'Organization', 'Skills', 'Ratings', 'course_url', 'course_students_enrolled', 'course_description', 'Review Count', 'Difficulty', 'Type', 'Duration']
Missing values per column:
Unnamed: 0                    0
Title                         0
Organization                  0
Skills                        0
Ratings                       0
course_url                  220
course_students_enrolled    236
course_description          221
Review Count                  0
Difficulty                    0
Type                          0
Duration                      0
dtype: int64

EdX.csv:
['Name', 'University', 'Difficulty Level', 'Link', 'About', 'Course Description']
Missing values per column:
Name                  0
University            0
Difficulty Level      0
Link                  0
About                 0
Course Description    0
dtype: int64

Here we can see that *coursera_course_dataset_v3.csv* has the following data presented: 
1. 'Title'
2. 'Organization'
3. 'Skills'
4. 'Ratings'
5. 'course_url' (with missing values)
6. 'course_students_enrolled' (with missing values)
7. 'course_description' (with missing values)
8. 'Review Count' 
9. 'Difficulty'  
10. 'Type'
11. 'Duration'

 *EdX.csv* dataset contain the following columns:
1. 'Name'
2. 'University'
3. 'Difficulty Level'
4. 'Link'
5. 'About'
6. 'Course Description'. 
These data has no missing values. 

For the first stage of the project, where I need to buid and validate NLP and ML pipeline, the main focus is on using dataset with clean course/module titles and descriptions. So I decided to remove colums with missing data and here is the final unified schema: 

| Field name  | Type   | Description                                                               |
|-------------|--------|---------------------------------------------------------------------------|
| global_id   | string | unique ID, e.g., coursera_<course_id> or edx_<course_id>                  |
| platform    | string | "coursera" or "edx"                                                       |
| title       | string | course title                                                              |
| provider    | string | institution/partner name                                                  |
| level       | string | normalized difficulty (e.g., “Beginner”, “Intermediate”, “Advanced”)      |
| description | string | longer description or overview                                            |


 'Description' field is a concatenate text fields into a single “text” column for embedding. For Coursera dataset columns 'Skills', 'Type' and 'Course_description' are combined; for EdX dataset columns 'About' and 'Course Description' are combined.

2. Field normalization and mapping
---------------------------------------------------------

In [13]:
# mapping and normalization function for Coursera dataset
import re

def normalize_explicit_difficulty(val):
    """
    Normalize an explicit difficulty label to standard categories: Beginner, Intermediate, Advanced, or Unknown.
    """
    if pd.isna(val):
        return 'Unknown'
    v = str(val).strip().lower()
    if re.search(r'\b(beginner|introductory|introduction)\b', v):
        return 'Beginner'
    if re.search(r'\b(intermediate)\b', v):
        return 'Intermediate'
    if re.search(r'\b(advanced|expert)\b', v):
        return 'Advanced'
    # If it contains "all" or similar
    if re.search(r'\b(all levels)\b', v):
        return 'All Levels'
    # Otherwise title-case the string
    return str(val).strip().title()

def normalize_coursera(df):
    """
    Normalize a Coursera DataFrame with columns such as:
    ['Unnamed: 0', 'Title', 'Organization', 'Skills', 'Ratings', 'course_url',
     'course_students_enrolled', 'course_description', 'Review Count', 'Difficulty',
     'Type', 'Duration']
    
    Returns a DataFrame with columns: global_id, platform, title, provider, level, description.
    Description is a concatenation of Skills, Type, and course_description.
    """
    df2 = pd.DataFrame()
    # Use the 'Unnamed: 0' column as an identifier if available, else use the DataFrame index
    if 'Unnamed: 0' in df.columns:
        df2['global_id'] = 'coursera_' + df['Unnamed: 0'].astype(str)
    else:
        df2['global_id'] = 'coursera_' + df.index.astype(str)
    
    df2['platform'] = 'coursera'
    # Title
    df2['title'] = df.get('Title', pd.Series()).fillna('').astype(str).str.strip()
    # Provider (Organization)
    df2['provider'] = df.get('Organization', pd.Series()).fillna('').astype(str).str.strip()
    # Level (Difficulty normalized)
    if 'Difficulty' in df.columns:
        df2['level'] = df['Difficulty'].apply(normalize_explicit_difficulty)
    else:
        df2['level'] = 'Unknown'
    # Construct description by concatenating Skills, Type, and course_description
    def build_description(row):
        parts = []
        # Skills column: could be comma-separated string; include as-is
        skills = row.get('Skills', '')
        if pd.notna(skills) and isinstance(skills, str) and skills.strip():
            parts.append(skills.strip())
        # Type column
        t = row.get('Type', '')
        if pd.notna(t) and isinstance(t, str) and t.strip():
            parts.append(t.strip())
        # Course description
        desc = row.get('course_description', '')
        if pd.notna(desc) and isinstance(desc, str) and desc.strip():
            parts.append(desc.strip())
        # Join with spaces
        full = ' '.join(parts)
        # Clean up whitespace
        full = re.sub(r'\s+', ' ', full).strip()
        return full
    
    df2['description'] = df.apply(build_description, axis=1)
    return df2

In [21]:
df_coursera= pd.read_csv("../data/raw/coursera_course_dataset_v3.csv")
df_coursera_norm = normalize_coursera(df_coursera)
display(df_coursera_norm.head())

,global_id,platform,title,provider,level,description
0,coursera_0,coursera,Google Cybersecurity,Google,Beginner,"Network Security, Python Programming, Linux, C..."
1,coursera_1,coursera,Google Data Analytics,Google,Beginner,"Data Analysis, R Programming, SQL, Business Co..."
2,coursera_3,coursera,Google Project Management:,Google,Beginner,"Project Management, Strategy and Operations, L..."
3,coursera_4,coursera,IBM Data Science,IBM,Beginner,"Python Programming, Data Science, Machine Lear..."
4,coursera_5,coursera,Google Digital Marketing & E-commerce,Google,Beginner,"Digital Marketing, Marketing, Marketing Manage..."

In [19]:


def normalize_edx(df):
    """
    Normalize an EdX DataFrame with columns:
    ['Name', 'University', 'Difficulty Level', 'Link', 'About', 'Course Description']

    Returns a DataFrame with columns:
    - global_id: unique ID, e.g., 'edx_<row_index>'
    - platform: 'edx'
    - title: from 'Name'
    - provider: from 'University'
    - level: normalized difficulty from 'Difficulty Level'
    - url: from 'Link'
    - description: concatenation of 'About' and 'Course Description'
    """
    df2 = pd.DataFrame()
    # global_id: use index or a combination of 'Name' sanitized; here we use index
    df2['global_id'] = df.index.to_series().apply(lambda x: f"edx_{x}")
    df2['platform'] = 'edx'

    # Title: from 'Name'
    df2['title'] = df.get('Name', pd.Series()).fillna('').astype(str).str.strip()

    # Provider: from 'University'
    df2['provider'] = df.get('University', pd.Series()).fillna('').astype(str).str.strip()

    # Level: normalize 'Difficulty Level'
    if 'Difficulty Level' in df.columns:
        df2['level'] = df['Difficulty Level'].apply(normalize_explicit_difficulty)
    else:
        df2['level'] = 'Unknown'

    # Description: concatenate 'About' and 'Course Description'
    def build_description(row):
        parts = []
        about = row.get('About', '')
        if pd.notna(about) and isinstance(about, str) and about.strip():
            parts.append(about.strip())
        course_desc = row.get('Course Description', '')
        if pd.notna(course_desc) and isinstance(course_desc, str) and course_desc.strip():
            parts.append(course_desc.strip())
        full = ' '.join(parts)
        # Clean whitespace
        full = re.sub(r'\s+', ' ', full).strip()
        return full

    df2['description'] = df.apply(build_description, axis=1)

    return df2

In [20]:
df_edx = pd.read_csv("../data/raw/EdX.csv")
df_edx_norm = normalize_edx(df_edx)
display(df_edx_norm.head())

,global_id,platform,title,provider,level,description
0,edx_0,edx,How to Learn Online,edX,Beginner,Learn essential strategies for successful onli...
1,edx_1,edx,Programming for Everybody (Getting Started wit...,The University of Michigan,Beginner,"This course is a ""no prerequisite"" introductio..."
2,edx_2,edx,CS50's Introduction to Computer Science,Harvard University,Beginner,An introduction to the intellectual enterprise...
3,edx_3,edx,The Analytics Edge,Massachusetts Institute of Technology,Intermediate,"Through inspiring examples and stories, discov..."
4,edx_4,edx,Marketing Analytics: Marketing Measurement Str...,"University of California, Berkeley",Beginner,This course is part of a MicroMasters® Program...

3. Combining the Catalogs

In [23]:
df_catalog = pd.concat([df_edx_norm, df_coursera_norm], ignore_index = True )
print("Combined catalog shape:", df_catalog.shape)
df_catalog['platform'].value_counts()

Combined catalog shape: (1343, 6)

platform
edx         720
coursera    623
Name: count, dtype: int64

In [ ]:
# os.makedirs("data/processed", exist_ok=True)
# save combined dataset as CSV
df_catalog.to_csv("../data/processed/courses_combined_catalog.csv", index=False)
print(os.listdir("../data/processed"))

['courses_combined_catalog.csv']